:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.buttonSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin: 2%;
  padding: 1%;
  height: 8em;
  font-family: inherit;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  width: 15%;
  display: flex;
  flex-direction: column;
  background-color: rgb(140, 123, 24);
  border-radius: 1em;
  border: white 2px solid;
}

.content {
  background-color: rgba(0,0,0,0.5);
  border-radius: 2rem;
  padding: 5%
}

.hero {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ajusta el ancho según tus necesidades */
  z-index: -1; /* Coloca el banner detrás de los demás elementos */
}

.profilePic {
  width: 15%; /* Ajusta el tamaño según tus necesidades */
  height: 15%; /* Ajusta el tamaño según tus necesidades */
  border-radius: 50%; /* Hace el marco circular */
  border: 5px solid  rgb(140, 123, 24);
}

.title {
  font-size: 2em; /* Tamaño del título */
  text-align: center;
  color: #fff; /* Color del texto */
  margin-top: 20px; /* Espacio entre la foto de perfil y el título */
}
