:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: hidden; /* Evita el scrolling vertical en el body */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.buttonSection {
  display: flex;
  align-items: center;
  justify-content: center;
}


.content {
  background-color: rgba(0,0,0,0.5);
  border-radius: 2rem;
  padding: 5%
}

.hero {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.profilePic {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border: 0.3rem solid  rgb(140, 123, 24);
}

.title {
  font-size: 2em;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.buttonImage {
  margin: 0.5rem;
}


@media only screen and (max-width: 600px) {
  .profilePic {
    width: 40%;
  }

  .buttonSection {
    flex-wrap: wrap;
  }

  body {
    overflow-y: auto;
  }

  .buttonImage {
    width: 7rem;
  }
}
